#ubicacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
    border: 3px outset white;
    border-radius: 10px;
    background-color: beige;
}
#ubicacion iframe{
    display: flex;
    align-self: center;
    width: 90%;
}
.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px outset white;
    border-radius: 10px;
    background-color: beige;
}
.formulario label {
    text-decoration: underline;
}
.formulario input {
    width: 90%;
    margin-top: 3px;
    margin-bottom: 3px;
}
.formulario textarea {
    width: 90%;
    margin-top: 7px;
}
