.sticky-top {
    position: sticky;
    top: 0px;
}

.logo {
    width: 90px;
}
.navbar-nav a:hover {
    transition: all 4ms ease-in-out;
    transform: scale(1,1);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px black;
}

/* modificaciones footer*/

footer {
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    flex-direction: column;
    position:sticky;
    bottom: 0px;
    padding-top: 10px;    
    border-top: 3px ridge white;
}