/*sector redes*/
.texto {
    text-align: center;
    background-color: beige;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:10%;
    border: 1px inset black;
}
.texto h2 {
    text-decoration: underline;
}
.margin {
    margin-top: 70px;
}

/* texto inicio historia*/

.historia {
    border-top: 1px solid black;
    margin-top: 80px;
    padding-top: 50px;
    text-align: center;
}
